body{
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-size: 100%;
    background-repeat: repeat-y;
}
.block{
    margin-left: 10vw;
}
h2{
    margin-top: 5vh;
    font-size: 8vw;
}
 p{
    margin-top: 0;
    font-size: 3.6vw;
    margin-bottom: 0;
}
.deta{
    margin: 0;
    font-size: 2vw;
    margin-bottom: 1vw;
}